<div style="background-color:#eef1f2;color:#444;font-family:Arial,sans-serif">
    <div style="width:95%;display:block;margin:0 auto;background-color:#fff">
        <div style="padding:20px;margin-bottom:30px;background-color:#f2ca26"></div>
        <div style="padding:20px 40px"><b>Atenção</b>,
            <br>
            <br> Recebemos um e-mail com contato do <span th:text="${contatoNome}"></span>, via webSite do grupo de capoeira Nosso Senhor do Bonfim:
            <br>
            <br>
            <br> <b>Nome:</b> <span th:text="${contatoNome}"></span>
            <br>
            <br> <b>Email:</b> <span th:text="${contatoEmail}"></span>
            <br>
            <br> <b>Telefone:</b> <span th:text="${contatoTelefone}"></span>
            <br>
            <br> <b>Observação:</b>
            <br> <span th:text="${contatoObservacao}"></span>
        </div>
        <div style="padding:20px;margin-bottom:30px;background-color:#f2ca26"></div>
    </div>
</div>